# Python virtual environment
.venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Custom cache directory
catch/
app/catche/

# VS Code settings (optional)
.vscode/

# Jupyter Notebook checkpoints (optional)
.ipynb_checkpoints/

# Environment files
.env
.env.*

# OS files
.DS_Store
Thumbs.db
